
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

.vs/
*.user
*.userosscache
*.sln.docstates

#Keep your DB passwords off GitHub
appsettings.Development.json
appsettings.Local.json


*.rsuser
*.suo
*.user
*.userprefs

*.mdf
*.ldf
*.db
*.sqlite

Thumbs.db
desktop.ini

.DS_Store